@model PortalCampanas.Models.Campania

@{
    ViewData["Title"] = "Detalle de Campaña";
}

<h2 class="mb-4">Detalle de Campaña</h2>

<div class="card shadow-sm">
    <div class="card-body">

        <h4>@Model.Nombre</h4>

        <dl class="row">
            <dt class="col-sm-3">Categoría</dt>
            <dd class="col-sm-9">@Model.Categoria</dd>

            <dt class="col-sm-3">Estado</dt>
            <dd class="col-sm-9">@Model.Estado</dd>

            <dt class="col-sm-3">Fechas</dt>
            <dd class="col-sm-9">
                @Model.FechaInicio.ToShortDateString() -
                @Model.FechaFin.ToShortDateString()
            </dd>

            <dt class="col-sm-3">Canal</dt>
            <dd class="col-sm-9">@Model.Canal</dd>

            <dt class="col-sm-3">Descuento</dt>
            <dd class="col-sm-9">@Model.DescuentoPct %</dd>

            <dt class="col-sm-3">Descripción</dt>
            <dd class="col-sm-9">@Model.Descripcion</dd>
        </dl>

        <hr />

        <a asp-action="Index" class="btn btn-secondary">
            ← Volver
        </a>
    </div>
</div>